<span class="a2fi-container">
  <!--<a2fi-previews-container-->
    <!--*ngIf="shouldDisplayPreviews()"-->
    <!--type="type"-->
    <!--isMultiple="flags.isMultiple"-->
    <!--[control]="getFileInputControl()"-->
    <!--(onRemove)="onRemoveFile($event)">-->
  <!--</a2fi-previews-container>-->
  <input
    class="a2fi-input"
    type="file"
    [a2fiRequired]="validation.rules.required"
    a2fiRequiredMsg="{{ validation.messages.required }}"
    [a2fiFileName]="validation.rules.fileName"
    a2fiFileNameMsg="{{ validation.messages.fileName }}"
    [a2fiSize]="validation.rules.size"
    a2fiSizeMsg="{{ validation.messages.size }}"
    [a2fiWidth]="validation.rules.width"
    a2fiWidthMsg="{{ validation.messages.width }}"
    [a2fiHeight]="validation.rules.height"
    a2fiHeightMsg="{{ validation.messages.height }}"
    [a2fiContent]="validation.rules.content"
    a2fiContentMsg="{{ validation.messages.content }}"
    [a2fiLinesCount]="validation.rules.linesCount"
    a2fiLinesCountMsg="{{ validation.messages.linesCount }}"
    [a2fiDuration]="validation.rules.duration"
    a2fiDurationMsg="{{ validation.messages.duration }}"
    [a2fiExtension]="validation.rules.extension"
    a2fiExtensionMsg="{{ validation.messages.extension }}"
    [a2fiMime]="validation.rules.mime"
    a2fiMimeMsg="{{ validation.messages.mime }}"
    [a2fiCustomValidation]="validation.rules.customValidation"
    [hidden]="!flags.isDisplayed"
    [disabled]="flags.isDisabled"
    name="{{ name }}"
    multiple="{{ flags.isMultiple }}"
    (change)="onChange($event)"
    (click)="onClick($event)"
    [ngControl]="getFileInputControl()"
  />
  <a2fi-error-messages-container
    *ngIf="shouldDisplayErrorMessages()"
    [ngControl]="getFileInputControl()">
  </a2fi-error-messages-container>
</span>
