<div class="a2fi-preview" *ngIf="flags.isReady">
  <template class="a2fi-concrete-preview" preview-host></template>
  <span class="a2fi-remove-file" (click)="onPreviewRemoveFile(file)"></span>
</div>
